<div class="container">
  <a class="text-decoration-none my-2" routerLink=''>
    <i class="bi bi-caret-left-fill"></i>
    back
  </a>
  <div class="my-4 text-center ">
      <h3 class="display-4 text-secondary text-capitalize">{{username}}'s Tasks</h3>
      <p class="text-muted">View and update your tasks</p>
  </div>
  <app-new-task></app-new-task>
  <div *ngFor="let task of tasks">
    <app-task-item [taskItem]=task></app-task-item>
  </div>
  <p *ngIf="!tasksLength" class="text-muted text-center my-5">
    You have no tasks. Create a new task.
  </p>
</div>
