<div class="mb-3">
    <div class="text-end">
        <button (click)="showMoreToggle()" *ngIf="!showMore" class="btn btn-success rounded-0" type="button" id="button-addon2">
            <i class="bi bi-plus-lg"></i>
            New
        </button>        
    </div>
    <div *ngIf="showMore" class="border p-3 shadow-sm mb-5">
        <p class="text-center fs-1 text-muted">Create a New Task</p>
        <div>
            <label for="basic-url" class="form-label">Task Name</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="enter new task name"  aria-label="Recipient's username" aria-describedby="button-addon2">
            </div>

            <label for="basic-url" class="form-label">Details</label>
            <div class="input-group mb-3">
                <textarea type="text" class="form-control" placeholder="enter task details.." aria-label="Recipient's username" aria-describedby="button-addon2"></textarea>
            </div>

            <div>
                <label for="" class="form-label">Priority</label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="priority" id="inlineRadio1" value="1">
                    <label class="form-check-label alert-danger p-1 rounded" for="inlineRadio1">High</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="priority" id="inlineRadio2" value="2">
                    <label class="form-check-label alert-warning p-1 rounded" for="inlineRadio2">Medium</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="priority" id="inlineRadio3" value="2">
                    <label class="form-check-label alert-primary p-1 rounded" for="inlineRadio3">Low</label>
                  </div>
            </div>

            <div class="d-flex justify-content-between mt-3">
                <button (click)="showMoreToggle()" class="btn btn-success rounded-0 me-1 w-100">
                    Create Task
                </button>
                <button (click)="showMoreToggle()" class="btn btn-secondary rounded-0 ms-1 w-100">
                    Cancel
                </button>
            </div>

        </div>
    </div>


</div>